@import "./utils/vars.scss";
@import "./utils/breakpoints";
@import "./base/normalize.scss";
@import "./base/base";
@import "./utils/placeholders";
@import "./utils/mixin";


@import "./components/page_header";
@import "./components/logo";

@import "./components/hero";
@import "./components/advantages";
@import "./components/examples";
@import "./components/team";
@import "./components/sm";
@import "./components/client";
@import "./components/page-footer";
@import "./components/footer-form";

@import "./components/modal";

@import "./components/filtr";

@import "./components/product"





