.client__list{
    @extend %list;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.client__item{
    width: calc((100% - 30px)/2);
    min-width: 170px;

    @media screen and (min-width: $tablet) {
        width: calc((100% - 60px)/3);
        
    }
    @media screen and (min-width: $desktop) {
        width: calc((100% - 150px)/6);
        // width: 170px;
    
    }
    margin-left: auto;
    margin-right: auto;
}

// .client__item:not(:last-child){
//     @media screen and (min-width: $desktop) {
//         margin-right: 30px;
//     }  
// }

.client__link {
    @include centeredFlex();
  
    height: 92px;

    @media screen and (min-width: $desktop) {
        width: 170px;
        
    }

    color: $svg-color;

    border: 1px solid $svg-color;
    border-radius: 4px;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: $accent-color;
        border-color: $accent-color;
        fill: $accent-color;
    }

}

.client__icon {
    width: 106px;
    height: 60px;

    fill: currentColor;
}