.client__list{
    @extend %list;
//     display: flex;
}

.client__item:not(:last-child){
    // margin-right: 30px;
}

.client__link {
    @include centeredFlex();

    width: 170px;
    height: 92px;

    color: $svg-color;

    border: 1px solid $svg-color;
    border-radius: 4px;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: $accent-color;
        border-color: $accent-color;
        fill: $accent-color;
    }

}

.client__icon {
    width: 106px;
    height: 60px;

    fill: currentColor;
}