.examples__list{
    @extend %list;
    // display:flex;
}

.examples__item:not(:last-child){
    // margin-right: 30px;
}

.examples__item{
    position: relative;
    &::before{
        position: absolute;
        bottom: 0;
        content: '';
        width: 100%;
        height: 70px;
        
        display: inline-block;
        background-color: rgba(47, 48, 58, 0.8);
    }
}

.examples__thumb{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    
    color: $white-back;
    
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
    text-transform: uppercase;
}