.footer-form{
    // display: flex;
    // align-items: flex-end;
    // margin-left: auto;
}
.footer-form__label{
    @extend .footer__text;
    display: block;
}

.footer-form__input{

    width: 100%;

    // width: 358px;
    margin-right: 12px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.6);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
    color: $white-back;
    
    outline: none;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
        border-color: $accent-color;
    }
}    
    

.footer-form__button{
    @extend %button;

    margin-top: 20px;
    position: relative;
    width: 200px;
    padding-left: 28px;
    text-align: left;
}

.footer-form__icon {
    position: absolute;
    top: 50%;
    right: 28px;

    transform: translateY(-50%);

    width: 24px;
    height: 24px;
}