.hero {
    max-width: 1600px;
    width: 100%;
    height: 400px;
    padding-bottom: 118px;
    padding-top: 118px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    background-color: $footer-color;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero-img_480_1x.jpeg');
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url('../images/hero-img_480_2x.jpeg');
    
    }

    @media screen and (min-width: $tablet) {
        background-image: linear-gradient(to bottom,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/hero-img_768_1x.jpeg');

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to bottom,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)), url('../images/hero-img_768_2x.jpeg');
        
            }
    }    
    
    @media screen and (min-width: $desktop) {
        width: 100%;
        height: 600px;
        padding-bottom: 200px;
        padding-top: 200px;

        background-image: linear-gradient(to bottom,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/hero-img.jpeg');
            
        
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to bottom,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)), url('../images/hero-img_1200_2x.jpeg');
        
            }
    
    }

    
    

}

.hero__title {
    color: $white-back;

    font-weight: 900;
    font-size: 26px;
    
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    max-width: 360px;

    

    margin-left: auto;
    margin-right: auto;
    margin-top: 0;


    @media screen and (min-width:$desktop) {
        max-width: 696px;
        font-size: 44px;
        margin-bottom: 30px;
    }


}

.hero__button{
    @extend %button;
    min-width: 216px;
    padding: 10px 32px;
    text-align: center;
}