
.page-header {
    background-color: $white-back;
    border-bottom: 1px solid $header-border_color;
    
    padding-top: 16px;
    padding-bottom: 16px;

}

.main-nav{
    // display: flex;
    // align-items: center;
    display: inline-block;
}

.main-nav__list{
    @extend %list;
    // display: flex;
    // margin-left: 91px ;
    display: none;

}

.main-nav__item:not(:last-child){
    // margin-right: 51px;

}

// .main-nav__link{
//     position: relative;
    
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
    
//     color: $title-text-color;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
    
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover, &:focus{
//         color: $accent-color;
//     }
// }

// .main-nav__link--carent{
//     color: $accent-color;
//     &::after{
//         position: absolute;
//             width: 100%;
//             height: 4px;
//             bottom: 0;
        
//             display: block;
//             background-color: $accent-color;
        
//             content: '';
//             opacity: 1;
//             border-radius: 2px;
//     }
// }

.contacts{
    display: none;
    @extend %list;
    // display: flex;
    // margin-left: auto;
    // align-items: baseline;
}

.contacts__item:not(:last-child){
    // margin-right: 30px;
}

.contacts__link{
    // @include centeredFlex();
    
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: $primery-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    text-decoration: none;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: $accent-color;
        fill: $accent-color;
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 12px;
}

.contacts__icon--phone {
    width: 10px;
    height: 16px;
}

