.product__list{
    @extend %list;
    margin-top: 40px;
    
    @media screen and (min-width:$desktop) {
        margin-top: 50px;
        
    }
    
    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product__item{
    width: 100%;
    @media screen and (min-width:$tablet) {
            width: calc((100% - 30px)/2);
        }
    @media screen and (min-width:$desktop) {
        width: calc((100% - 60px)/3);
    }
    
}

    

.product__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-top: 0;
    margin-bottom: 4px;

}

.product__type {
    color: $primery-text-color;

    font-size: 16px;
    line-height: 1.86;

    margin-top: 0;
    margin-bottom: 0;
}

.product__link {
    display: inline-block;
    text-decoration: none;

    width: 100%;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

}

.product__img {
    position: relative;
    overflow: hidden;
    
}

.product__overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    bottom: 0;
    left: 0;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .product__link:hover &{
        transform: translateY(0);
    }

}

.product__description {
    display: block;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 36px;
    padding-right: 12px;


    font-weight: 400;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;

    color: $white-back;
}

.product__meta{
        padding: 20px 24px;
        border-right: 1px solid $product-border-color;
        border-bottom: 1px solid $product-border-color;
        border-left: 1px solid $product-border-color;
}

.product_picture{
    width: 100%;
}