%list {
    list-style: none;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

%button { 
    display: block;
    min-height: 50px;

    margin-left: auto;
    margin-right: auto;
    
    border: none;
    color: $white-back;
    background-color: $accent-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    
}


