$primery-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$gray-back: #F5F4FA;
$white-back: #FFFFFF;
$section-back: #F5F5F5;
$svg-color: #AFB1B8;
$logo-color:#000000;
$header-border_color: #ECECEC;
$footer-color: #2F303A;
$product-border-color: #EEEEEE;

$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;